@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IBMPlexSans-Regular";
  src: local("IBMPlexSans-Regular"),
    url("./assets/font/IBMPlexSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "IBMPlexSans-SemiBold";
  src: local("IBMPlexSans-SemiBold"),
    url("./assets/font/IBMPlexSans-SemiBold.ttf") format("truetype");
}

:root {
  --main-color: #06402b;
  --secondary-color: #fff;
}